@import '~view-design/src/styles/index.less';

// 用于更改界面导航等组件样式颜色
#app .i-layout-sider-dark {
    background-color: #003F43;
}

#app .i-layout-sider-logo {
    background-color: #003F43;
    border: #2589ee;
}


#app .ivu-menu-dark {
    background-color: #003F43;
}

#app .ivu-menu-item {
    font-size: 16px;
}

#app .ivu-menu-item:hover {
    background-color: #FFFFFF !important;
    color: #003F43 !important;
}

#app .ivu-menu-item.ivu-menu-item-active {
    background-color: #FFFFFF !important;
    color: #003F43 !important;
}

#app .ivu-menu-submenu-title:hover {
    background-color: #FFFFFF !important;
    color: #003F43 !important;
}

// #app .i-layout-menu-side.ivu-menu-dark .ivu-menu-item-active {
//     background-color: #004246 !important;
// }

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title {}

// .ivu-menu-dark {
//     background-color: #3784d1;

// }

// #app .ivu-menu-submenu:hover {
//     background-color: #1b5896;
// }